*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body{
  background-color: #f5f5dc;
}

section{
  margin: 6em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.searchBar{
  display: flex;
  margin-bottom: 5em;
  width: 70%;
  gap: 0.7em;
  position: sticky;
  top: 10px;
  z-index: 10;
  background-color: #f5f5dc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  /* box-shadow: 0px 30px 20px 6px #f5f5dc; */
}
.inputbox{
  height: 3em;
  width: 90%;
  border-radius: 5px;
  padding-left: 10px;
  font-size: larger;  
  outline: none;
  border: 1px solid black;
  font-family: "Playfair Display", serif;;
  /* box-shadow: 20px 0px 8px 20px #f5f5dc, -20px 0px 8px 20px #f5f5dc */
}

.searchBTN{
  width: 10%;
  background-color: #B0C4DE;
  font-size: large;
  border-radius: 5px;
  outline: none;
  border: 1px solid black;
  /* box-shadow: 10px 10px 20px 11px #f5f5dc, 20px 0px 9px 20px #f5f5dc */
}

.searchBTN:active{
  background-color: #F4A7B9;
}

.bookList{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}

.bookList img{
  width: 200px;
  height: 250px;
  margin-bottom: 15px;
}

.books{
  width: 200px;
  height: 450px;
  /* border: 2px solid black; */
  border-radius: 5px;
  margin: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all .2s;
}

.books div{
  padding: 10px;
}

.books:hover{
  transform: scale(1.1);
}

#bookTitle, #bookAuthor{
  font-family: "Playfair Display", serif;
  font-size: 1.1em;
  margin-bottom: 7px;
  color: #333333;
}

#bookDesc{
  font-family: "Roboto", sans-serif;
  /* font-family: "Lora", serif; */
  font-size: .9em;
  color: #708090;
}

.stuffs{
  padding: 5px;
}

@media (max-width: 870px){
  section{
    margin: 5em 2em;
  }
}

@media (max-width: 588px){
  .searchBar{
    margin-bottom: 4em;
    width: 80%;
    margin: 0, 2em;
    gap: 0.3em;
  }
  
  .inputbox{
    height: 2.5em;
    width: 80%;
    border-radius: 5px;
    padding-left: 10px;
    font-size: medium;
  }
  
  .searchBTN{
    width: 20%;
    background-color: #B0C4DE;
    font-size: medium;
    border-radius: 5px;
  }
  
}

@media (max-width: 425px){
  .searchBar{
    width: 100%;
  }

  .inputbox{
    height: 2.5em;
    width: 80%;
    border-radius: 5px;
    padding-left: 10px;
    font-size: medium;
  }
  
  .searchBTN{
    width: 20%;
    background-color: #B0C4DE;
    font-size: medium;
    border-radius: 5px;
  }
}